language: java

cache:
  directories:
    - sysconfcpus
    - $HOME/.m2
    - $HOME/.cache/yarn
install:
  - |
    if [ ! -d sysconfcpus/bin ];
    then
      git clone https://github.com/obmarg/libsysconfcpus.git; 
      cd libsysconfcpus;
      ./configure --prefix=$TRAVIS_BUILD_DIR/sysconfcpus;
      make && make install;
      cd ..;
    fi
jobs:
  include:
    - stage: build package
      script:
        - $TRAVIS_BUILD_DIR/sysconfcpus/bin/sysconfcpus -n 2
        - ./mvnw package -B
