html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.chat {
    overflow-y: auto;
    position: absolute;
    background-color: #eee;
    width: 100%;
    top: 0px;
    bottom: 90px;
    max-height: auto;
}

.msg {
  height: auto !important;
  margin-bottom:0.8em;
}

.msg-input-container {
  width: -webkit-calc(100% - 125px);
  width:    -moz-calc(100% - 125px);
  width:         calc(100% - 125px);
  margin-right: 25px;
}

.msg-input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  resize: none !important;
  outline: none;
}

.footer {
  position: absolute;
  background-color: #ff5;
  width: 100%;
  bottom: 0px;
}

.app {
  height: 100vh;
}
